[user]
	name = Sean Miller
	email = slicebo123@gmail.com
	signingkey = 2EB201C63275E352

[core]
	autocrlf = false
	safecrlf = true
  excludesfile = /Users/sean/.gitignore_global
	editor = code --wait

[credential]
	helper = osxkeychain

[merge]
  tool = opendiff

[alias]
  ll = log \
  --graph \
  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an - %cr)' \
  --date=relative

  proddiff = !git diff \
  --name-only `git rev-list -n 1 \\`git tag --list | grep production- | tail -1\\``

  prodlogs = !git log --decorate --oneline --graph \
  master...`git rev-list -n 1 \\`git tag --list | grep production- | tail -1\\``

  hist = log --pretty=format:\"%h | %ad | %s %Cgreen[%an]%Creset%Cred%d%Creset\" --graph --date=short
  st = status -sb
  d = diff
  dc = diff --cached
  co = checkout
  br = branch
  yolo = push -f origin HEAD
  ap = add -p
  ci = commit

[color]
  diff = auto
  status = auto
  branch = auto

[color "branch"]
  current = yellow

[push]
  default = simple

[rebase]
  autosquash = true

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[branch]
  autosetupmerge = true

[url "https://"]
	insteadOf = git://

[mergetool]
  keepBackup = false
